#topTextk, #bottomTextk{ /*reset*/
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}




@font-face{
    font-family: 'San Francisco';
    src:url('../fonts/SanFranciscoR.ttf');
}

@font-face{
    font-family: 'San Francisco';
    src:url('SanFranciscoR.ttf');
}

.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
    font-family: "San Francisco" !important;
}

#firstpage{
    background-color: #e4e4e4;
}

#firstHeader {
    margin-top: 25px;
    border-bottom: 1px solid #C2C2C2;
    margin-right: -8px;
    margin-left: -8px;
}

#memegrid {
    margin-top: 10px;
}

#container{
    height: 93vh;
}

.gridpicture{
    width:28vw;
    height:28vw;
    float: left;
    margin: 2px;
    margin-left: 2.5vw; 
}

#gridFooter{
    margin-right: -8px;
    margin-left: -8px;
    padding-top: 6px;
    clear:both;
    border-top: 1px solid #C2C2C2;
}

#header{
    height: 30px;
    margin-right: -8px;
    margin-left: -8px;
    padding-bottom: 10px;
    margin-top: 32px;
    font-family: "San Francisco";
    border-bottom: 2px solid #C2C2C2;
}

#BackToGridk {
    background: rgba(255, 255, 255, 0);
    text-transform: initial;
    color: #0F79FA;
    font-size: 22px;
    font-style: normal;
    margin-left: 12px;
    margin-top: -20px;
    border-style: none;
    text-decoration: none;
    display: inline;
    font-family: Arial;
    visibility: visible;
}

#memeContainer{
    float: left;
    padding-top:9px;
}

#kkk{
    float: left;
    border: 1px solid #e0e0e0;
    visibility: visible;
    margin-left: -7px;
    width: 97vw;
}

#libraryButton{
    margin-left: 60vw;
    width: 36px;
    height: 36px;
    border: none;

}

#cameraButton {
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 10px;
    margin-top: 15px;
}

#topTextk, #bottomTextk{
        padding:0; 
        margin:0; 
        float: left;
        border-style: none;
        margin-left: 0px;
        margin-right: 0px;
        color: #FFF;
        background: rgba(255, 255, 255, 0);
        font-family: Arial;
        color: black;
       -webkit-text-fill-color: white; /* Will override color (regardless of order) */
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 97vw;
        max-width: 97vw;
        max-height: 145px;
        font-size: 30px;
        margin-left: -6px;
}
#topTextk{
    position: absolute;
    left:10px;
    top:90px;
}
#bottomTextk {
    margin-top: -26vw;
    height: 85px;
    max-height: 85px;
}

#footer {
    border-top: 2px solid #C2C2C2;
    margin-right: -8px;
    margin-left: -8px;
    padding-left: 15px;
    margin-top: 77vh;
}

#actionIcon{
    content: url(../icons/share.png);
    width: 10vw;
    padding-top: 8px;
}


#infoButton{
    margin-top: 3px;
    margin-left: 73vw;
}

#thanks{
    text-transform: initial;
}

#imgcrop {
    display: none;
    visibility: hidden;
}

#canvas {
    display: none;
}

/* LG G4, G3, Note 2, S5, S4, S4 mini, S3, Nexus 5, HTC One, HTC Evo 3D, Xperia: Z, S, P, Xiaomi Mi4, Mi3, ZTE Grand S   */
@media screen and (device-width: 360px) and (device-height: 640px){
    .gridpicture{
        width:98px;
        height:98px;
        float: left;
        margin: 5px;
        margin-left: 12px;
    }
    #container{
        height: 530px;
        margin-top: 10px;
    }

    #libraryButton{
        margin-left: 210px;
        width: 36px;
        height: 36px;
        border: none;
    }

    #topTextk{
       font-size: 27px;
        max-height: 130px;
    }
    #bottomTextk {
        margin-top: -26vw;
        font-size: 27px;
        max-height: 89px;
    }

    #footer {
        margin-right: -8px;
        margin-left: -8px;
        padding-left: 15px;
        margin-top: 440px;
    }
    #infoButton{
        margin-left: 260px;
        width: 38px;
        height: 38px;
    }
}

/* LG Optimus G, Nexus 4 */
@media screen and (device-width: 384px) and (device-height: 640px){
   
    #topTextk{
       font-size: 27px;
    }
    #bottomTextk {
        font-size: 27px;
        max-height: 91px;
    }
    #container{
        margin-top: 0px;
        height: 540px;
        margin-left: 7px;
    }


    #infoButton{
        width: 38px;
        height: 38px;
        margin-left: 290px;
    }
}

/* Galaxy Note */
@media screen and (device-width: 400px) and (device-height: 640px){
   
    #topTextk{
       font-size: 27px;
    }
    #bottomTextk {
        font-size: 27px;
        max-height: 91px;
    }
    #container{
        margin-top: 0px;
        height: 540px;
        margin-left: 7px;
    }


    #infoButton{
        width: 38px;
        height: 38px;
        margin-left: 290px;
    }
}

/* Nexus S, Galaxy S3 mini, S2, S */
@media screen and (device-width: 320px) and (device-height: 533px), (device-height: 534px)  {
   
    #topTextk{
       font-size: 23px;
    }
    #bottomTextk {
        margin-top: -27vw;
        font-size: 23px;
        max-height: 91px;
    }
    #container{
        margin-top: 8px;
        margin-left: 7px;
    }

    #libraryButton{
        margin-left: 170px;
        width: 30px;
        height: 30px;
        border: none;
    }

    #footer{
        margin-top: 390px;
    }

    #infoButton{
        width: 34px;
        height: 34px;
    }
}

/* nexus 10 */
@media screen and (device-width: 800px) and (device-height: 1280px){

    .gridpicture{
        width:138px;
        height:138px;
        float: left;
        margin: 5px;
        margin-left: 8px;
    }
    #container{
        margin-top: 0px;
        height: 1180px;
        margin-left: 18px;
    }
    
    
    #header{
        height: 50px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    #kkk, #memeContainer{
       
    }

    #BackToGridk{
        font-size: 29px;
        margin-left: 13px;
        margin-top: -6px;
    }

    #libraryButton{
        content: url(../icons/plus2.png);
        margin-left: 600px;
        width: 40px;
        height: 40px;
        margin-top: 3px;
    }

    #cameraButton {
        content: url(../icons/camera3.png);
        width: 54px;
        height: 40px;
        margin-top: 3px;
    }

    #topTextk{
        position: absolute;
        left:10px;
        top:120px;
        font-size: 50px;
        max-height: 165px;
    }
    #bottomTextk {
        margin-top: -25vw;
        height: 85px;
        max-height: 165px;
        font-size: 50px;
    }

    #footer {
        margin-right: -8px;
        margin-left: -8px;
        padding-left: 15px;
        margin-top: 1050px;
    }

    #actionIcon{
        width: 60px;
        padding-top: 8px;
    }
    #infoButton{
        width: 60px;
        height: 60px;
        margin-left: 650px;
    }
}


/* #### all #### */
/*@media screen and (device-width: 412px) and (device-height: 732px){

}*/


/* #### JHOHAN #### */
/*@media screen and (device-width: 360px) and (device-height: 592px){

    #header{
        border: 1px solid blue;
    }
    #kkk, #memecontainer {
        width: 343px;
      /*  height: 750px;
    }

    #footer {
        margin-top: 450px;
    }

    #actionIcon {
        width: 26px;
        padding-top: 2px;
    }
    #container{
        height: 512px;
    }
    .gridpicture {
        width: 95px;
        height: 95px;
        margin-left: 16px;
        margin-bottom: 10px;
    }

    #infoButton{
        width: 34px;
        margin-left: 245px;
        padding-top: 7px;
    }


    #gridFooter{
        margin-left: -8px;
        margin-right: -8px;
        margin-top:  570px;   }
}*/


