







/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

    #thumbnail, #memecontainer {
        width: 750px;
        height: 750px;
    }

    .gridpicture {
        width:  144px;
        height: 144px;
    }

    #gridFooter{
        margin-left: -8px;
        margin-right: -8px;
        width: 770px;
    }

    #backwardButton{
        margin-left: 60px;
    }

    #forwardButton{
        margin-left: 582px;
    }

    #libraryButton {
        margin-left: 630px;
    }

    #cameraButton {
        margin-left: 35px;
    }

    #topText, #bottomText {
        margin-top: -740px;
        width: 750px;
    }

    #bottomText {
        margin-top: -160px;
    }
    
    #footer {
        margin-top: 895px;
        
    }
    #actionIcon {
        width: 28px;
        padding-top: 7px;
        margin-left: 20px;
    }

    #infoButton{
        width: 36px;
        margin-left: 630px;
        padding-bottom: 2px;
    }
}

