
/* #### iPhone 4s */
@media (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {

    

    #libraryButton {
        margin-top: 0px;
        margin-left: 0px;
        position:fixed;
        left:255px;
        top:33px;
    }

    #cameraButton {
        position:fixed;
        left:276px;
        top:19px;
    }
    
    #footer {
        margin-top: 372px;
    }

       #actionIcon {
        margin-left: 8px;
        margin-top: 9px;
    }

    #container{
        height: 435px;
    }

    .gridpicture {
        width: 85px;
        height: 85px;
        margin-left: 15px;
    }
    
    #infoButton{
        
        margin-left: 242px;
        padding-top: 7px;
    }

    #topTextk, #bottomTextk {
        font-size: 29px;
        line-height: 1;
        height: 142px;
        max-height: 142px;
    }

    #bottomTextk{
        height: 85px;
        max-height: 85px;
        margin-top: -86px;

    }
}

/* #### iPhone 5 Portrait #### */
@media (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and(orientation: portrait) {
    

    #footer {
        margin-top: 460px;
    }

    #actionIcon {
        margin-left: 8px;
        margin-top: 9px;
    }

    #libraryButton {
        margin-top: 0px;
        margin-left: 0px;
        position:fixed;
        left:255px;
        top:33px;
    }

    #cameraButton {
        position:fixed;
        left:276px;
        top:19px;
    }

    #container{
        height: 523px;
    }

    #infoButton{
        
        margin-left: 242px;
    }

    #topTextk, #bottomTextk {
        font-size: 29px;
        line-height: 1;
        height: 142px;
        max-height: 142px;
    }

    #bottomTextk{
        height: 85px;
        max-height: 85px;
        margin-top: -85px;

    }
}

/* #### iPhone 6 AND 6s Portrait*/
@media (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {

    #kkk {
        width: 360px;
    }

    #libraryButton {
        margin-top: 0px;
        margin-left: 0px;
        position:fixed;
        left:310px;
        top:35px;
    }

    #cameraButton {
        position:fixed;
        left:331px;
        top:21px;
    }

    .gridpicture {
        width: 85px;
        height: 85px;
        margin-left: 5px;
    }

     #gridFooter{
        width: 375px;
    }

    #container {
        height: 622px;
    }

    #topTextk, #bottomTextk {
        font-size: 26px;
        line-height: 1;
        width: 360px;
        max-width: 358px;
        height: 127px;
        max-height: 127px;
    }
    #bottomTextk {
        margin-top: -80px;
        height: 78px;
        max-height: 78px;
    }

    #footer {
        margin-top: 558px;
    }

    #actionIcon {
        margin-left: 8px;
        margin-top: 9px;
    }

    #infoButton{
        
        margin-left: 297px;
    }

}

/* 6+ AND 6s+ Portrait*/
@media (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {

    #kkk {
        width: 397px;
    }
    
    #libraryButton {
        margin-top: 0px;
        margin-left: 0px;
        position:fixed;
        left:345px;
        top:35px;
    }

    #cameraButton {
        position:fixed;
        left:366px;
        top:21px;
    }

    .gridpicture {
        width: 96px;
        height: 96px;
        margin-left: 4px;
    }

    #gridFooter{
        width: 420px;
    }

    #container{
        height: 691px;
    }

    #topTextk, #bottomTextk {
        width: 395px;
        max-width: 395px;
        height: 147px;
        max-height: 147px;
        font-size: 30px;
        line-height: 1;
    }

    #bottomTextk {
        margin-top: -119px;
         max-height: 117px;
    }
     #footer {
        margin-top: 627px;
    }

    #actionIcon {
        margin-left: 8px;
        margin-top: 9px;
    }

    #infoButton{
        margin-left: 338px;
        
    }


}

/* #### iPads Portrait #### */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait){

    #kkk {
        width: 750px;
    }

    .gridpicture {
        margin-left: 5px;
        width:  138px;
        height: 138px;
    }

    #gridFooter{
        margin-left: -8px;
        margin-right: -8px;
        width: 770px;
    }

    #container{
        margin-left: 20px;
        height: 979px;
    }

    #libraryButton {
        margin-top: 0px;
        margin-left: 0px;
        position:fixed;
        left:690px;
        top:35px;
    }

    #cameraButton {
        position:fixed;
        left:711px;
        top:21px;
    }

    #topTextk, #bottomTextk{
        width: 750px;
        max-width: 748px;
        height: 220px;
        max-height: 220px;
        font-size: 44px;
        line-height: 1;
    }
    
    #topTextk{
    position: absolute;
    left:10px;
    top:90px;
    }

    #bottomTextk {
        margin-top: -180px;
        height: 180px;
        max-height: 180px;
    }
    
    #footer {
        margin-top: 917px;
        
    }

    #actionIcon {
        margin-left: 8px;
        margin-top: 9px;
    }
    
    #infoButton{
        
        margin-left: 690px;
    }
    
    


    #firstpage{
        background-color: #dedede;
    }
}


